<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>About Us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                 data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
                 data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
                 data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                            </button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand" href="index.html"><img
                                    src="images/logo-default-191x52.png" alt="" width="191" height="52"/></a></div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Search-->
                                <div class="rd-navbar-search">
                                    <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search">
                                        <span></span></button>
                                    <form class="rd-search" action="search-results.html"
                                          data-search-live="rd-search-results-live" method="GET">
                                        <div class="form-wrap">
                                            <label class="form-label"
                                                   for="rd-navbar-search-form-input">Search...</label>
                                            <input class="rd-navbar-search-form-input form-input"
                                                   id="rd-navbar-search-form-input" type="text" name="s"
                                                   autocomplete="off"/>
                                            <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                        </div>
                                        <button class="rd-search-form-submit fl-bigmug-line-search74"
                                                type="submit"></button>
                                    </form>
                                </div>
                                <!-- RD Navbar Share-->
                                <div class="rd-navbar-share">
                                    <div class="rd-navbar-share-icon fl-bigmug-line-share27"
                                         data-rd-navbar-toggle=".rd-navbar-share-list"></div>
                                    <ul class="list-inline rd-navbar-share-list">
                                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-facebook"
                                                                                 href="#"></a></li>
                                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-twitter"
                                                                                 href="#"></a></li>
                                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-google-plus"
                                                                                 href="#"></a></li>
                                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-instagram"
                                                                                 href="#"></a></li>
                                    </ul>
                                </div>
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">首页</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link"
                                                               href="about-us.html">关于我们</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link"
                                                                      href="grid-gallery.html">产品中心</a>
                                        <!-- RD Navbar Dropdown-->
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="project-info.html">家用储能</a></li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="project-info.html">工商业储能</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="project-info.html">动力电池铅改锂</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="project-info.html">新能源汽车充电桩</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="project-info.html">光储充一体EPC
                                            </a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="pricing.html">应用场景</a>
                                        <!-- RD Navbar Dropdown-->
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="scenario-info.html">家用储能</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="scenario-info.html">工商业储能</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="scenario-info.html">动力电池铅改锂</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="scenario-info.html">新能源汽车充电桩</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="scenario-info.html">光储充一体EPC</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="classic-blog.html">服务支持</a>
                                    </li>


                                    <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">联系我们</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                                        <!-- RD Navbar Megamenu-->
                                        <ul class="rd-menu rd-navbar-megamenu">
                                            <li class="rd-megamenu-item">
                                                <div>
                                                    <h5 class="rd-megamenu-title">Elements</h5>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="typography.html">Typography</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="icons-with-text.html">Icons with Text</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="buttons.html">Buttons</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="counters.html">Counters</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="forms.html">Forms</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="calls-to-action.html">Calls to Action</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="progress-bars.html">Progress
                                                            Bars</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="tabs-and-accordions.html">Tabs and Accordions</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="hover-effects.html">Hover
                                                            Effects</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="grid-system.html">Grid
                                                            System</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="rd-megamenu-item">
                                                <div>
                                                    <h5 class="rd-megamenu-title">Additional pages</h5>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="services.html">Services</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="services-2.html">Services
                                                            2</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="single-service.html">Single Service</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="our-team.html">Our
                                                            Team</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="testimonials.html">Testimonials</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="404-page.html">404
                                                            Page</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="503-page.html">503
                                                            Page</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="pricing.html">Pricing</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="coming-soon.html">Coming
                                                            Soon</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="contact-us-2.html">Contact
                                                            Us 2</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="faq.html">FAQ</a>
                                                        </li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="search-results.html">Search results</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="rd-megamenu-item rd-megamenu-carousel">
                                                <div>
                                                    <h5 class="rd-megamenu-title">Recent projects</h5>
                                                    <!-- Owl Carousel-->
                                                    <div class="owl-carousel owl-navbar" data-items="1"
                                                         data-xl-items="2" data-xxl-items="3" data-margin="16"
                                                         data-dots="true" data-autoplay="false" data-loop="false">
                                                        <!-- Thumbnail Classic-->
                                                        <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                                            <div class="thumbnail-mary-figure"><img
                                                                    src="images/navbar-1-272x288.jpg" alt="" width="272"
                                                                    height="288"/>
                                                            </div>
                                                            <div class="thumbnail-mary-caption"><a
                                                                    class="icon fl-bigmug-line-zoom60"
                                                                    href="images/grid-gallery-1-1200x800-original.jpg"
                                                                    data-lightgallery="item"><img
                                                                    src="images/navbar-1-272x288.jpg" alt="" width="272"
                                                                    height="288"/></a>
                                                                <h6 class="thumbnail-mary-title"><a href="#">Project
                                                                    #1</a></h6>
                                                            </div>
                                                        </article>
                                                        <!-- Thumbnail Classic-->
                                                        <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                                            <div class="thumbnail-mary-figure"><img
                                                                    src="images/navbar-2-272x288.jpg" alt="" width="272"
                                                                    height="288"/>
                                                            </div>
                                                            <div class="thumbnail-mary-caption"><a
                                                                    class="icon fl-bigmug-line-zoom60"
                                                                    href="images/grid-gallery-2-1200x800-original.jpg"
                                                                    data-lightgallery="item"><img
                                                                    src="images/navbar-2-272x288.jpg" alt="" width="272"
                                                                    height="288"/></a>
                                                                <h6 class="thumbnail-mary-title"><a href="#">Project
                                                                    #2</a></h6>
                                                            </div>
                                                        </article>
                                                        <!-- Thumbnail Classic-->
                                                        <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                                            <div class="thumbnail-mary-figure"><img
                                                                    src="images/navbar-3-272x288.jpg" alt="" width="272"
                                                                    height="288"/>
                                                            </div>
                                                            <div class="thumbnail-mary-caption"><a
                                                                    class="icon fl-bigmug-line-zoom60"
                                                                    href="images/grid-gallery-4-1200x800-original.jpg"
                                                                    data-lightgallery="item"><img
                                                                    src="images/navbar-3-272x288.jpg" alt="" width="272"
                                                                    height="288"/></a>
                                                                <h6 class="thumbnail-mary-title"><a href="#">Project
                                                                    #3</a></h6>
                                                            </div>
                                                        </article>
                                                        <!-- Thumbnail Classic-->
                                                        <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                                            <div class="thumbnail-mary-figure"><img
                                                                    src="images/navbar-4-272x288.jpg" alt="" width="272"
                                                                    height="288"/>
                                                            </div>
                                                            <div class="thumbnail-mary-caption"><a
                                                                    class="icon fl-bigmug-line-zoom60"
                                                                    href="images/grid-gallery-3-1200x800-original.jpg"
                                                                    data-lightgallery="item"><img
                                                                    src="images/navbar-4-272x288.jpg" alt="" width="272"
                                                                    height="288"/></a>
                                                                <h6 class="thumbnail-mary-title"><a href="#">Project
                                                                    #4</a></h6>
                                                            </div>
                                                        </article>
                                                        <!-- Thumbnail Classic-->
                                                        <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                                            <div class="thumbnail-mary-figure"><img
                                                                    src="images/navbar-5-272x288.jpg" alt="" width="272"
                                                                    height="288"/>
                                                            </div>
                                                            <div class="thumbnail-mary-caption"><a
                                                                    class="icon fl-bigmug-line-zoom60"
                                                                    href="images/grid-gallery-5-1200x800-original.jpg"
                                                                    data-lightgallery="item"><img
                                                                    src="images/navbar-5-272x288.jpg" alt="" width="272"
                                                                    height="288"/></a>
                                                                <h6 class="thumbnail-mary-title"><a href="#">Project
                                                                    #5</a></h6>
                                                            </div>
                                                        </article>
                                                        <!-- Thumbnail Classic-->
                                                        <article class="thumbnail thumbnail-mary thumbnail-xxs">
                                                            <div class="thumbnail-mary-figure"><img
                                                                    src="images/navbar-6-272x288.jpg" alt="" width="272"
                                                                    height="288"/>
                                                            </div>
                                                            <div class="thumbnail-mary-caption"><a
                                                                    class="icon fl-bigmug-line-zoom60"
                                                                    href="images/grid-gallery-6-1200x800-original.jpg"
                                                                    data-lightgallery="item"><img
                                                                    src="images/navbar-6-272x288.jpg" alt="" width="272"
                                                                    height="288"/></a>
                                                                <h6 class="thumbnail-mary-title"><a href="#">Project
                                                                    #6</a></h6>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Breadcrumbs -->
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom">
            <div class="container">
                <h1 class="breadcrumbs-custom-title">家用储能应用场景</h1>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">主页</a></li>
                    <li class="active">产品一</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section-sm section-fluid bg-default text-center">
        <div class="container-fluid isotope-wrap">
            <h2 class="wow fadeInLeft">家用储能应用场景</h2>
            <h4><p class="quote-jean wow fadeInRight" data-wow-delay=".1s">
                家用储能产品家用储能产品家用储能产品家用储能产品家用储能产品家用储能产品</p>
            </h4>
            <div class="container">

                <div class="row row-sm row-50 row-lg-80">
                    <div class="col-12">
                        <img src="http://www.huizhibattery.com/upload/image/2023/08/17/1503192188182.jpg"
                             alt=""
                             style="width: 100%; height: 100%; object-fit: cover;"/>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-xl bg-default">
        <div class="container-fluid isotope-wrap">
            <h2 class="wow fadeInLeft">产品推荐</h2>
            <div class="container">
                <div class="row row-50 justify-content-center box-ordered">
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <!-- Services Classic-->
                        <article class="services-classic"><a class="services-classic-figure"
                                                             href="project-info.html"><img
                                src="https://hoenergypower.cn/upfiles/202111009827369.jpg" alt="" width="370"
                                height="297"/></a>
                            <div class="services-classic-caption">
                                <h4 class="services-classic-counter box-ordered-item"></h4>
                                <h5 class="services-classic-title"><a href="project-info.html">相关产品一</a>
                                </h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <!-- Services Classic-->
                        <article class="services-classic"><a class="services-classic-figure"
                                                             href="project-info.html"><img
                                src="https://hoenergypower.cn/upfiles/202111009827369.jpg" alt="" width="370"
                                height="297"/></a>
                            <div class="services-classic-caption">
                                <h4 class="services-classic-counter box-ordered-item"></h4>
                                <h5 class="services-classic-title"><a href="project-info.html">相关产品二</a>
                                </h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <!-- Services Classic-->
                        <article class="services-classic"><a class="services-classic-figure"
                                                             href="project-info.html"><img
                                src="https://hoenergypower.cn/upfiles/202111009827369.jpg" alt="" width="370"
                                height="297"/></a>
                            <div class="services-classic-caption">
                                <h4 class="services-classic-counter box-ordered-item"></h4>
                                <h5 class="services-classic-title"><a href="project-info.html">相关产品三</a>
                                </h5>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </section>


</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>